@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-image: linear-gradient(to right , #D9A78B ,#EBC5A9)  ;
}

main {
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #b37863c2;
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1 {
    color:#046865 ;
    text-align: center;
    text-shadow: 1px 1px 2px #725752b7 ;
}

h2 {
    color: #B3B3F1;
    text-align: center;
    font-size: 30 px;
}
p {
   text-align: justify;
    
}